<h1>newKMU SignIn Confirmation</h1>

<h2>Dear <%= @user.name + " " + @user.lastname %></h2>

<p>Thank you for Signing up <%= link_to "newKMU", root_url %> with <%= @user.email %></p>
<p><%= link_to "myAccount", @user %></p>
