<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">

      <%= javascript_include_tag 'dashing/application' %>
      <%= stylesheet_link_tag 'dashing/application' %>
      
      <div class="gridster">
        <ul>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="show_events" data-view="Number" data-title="myEvents" data-prefix="#"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
